<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./assets/jquery.mask.js" type="text/javascript" charset="utf-8"></script>
  <script src="./assets/slick.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var widgetOptions = {
      token: '5F47E355-0D2C-4828-8D26-8A0FA5421AED',
      css: 'http://tuchkovo-club.ru/default.css',
      target: 'search-widget',
      popupHeader: '',
      maxAdults: 10,
      widget_width: 968,
      align: 'left',
      showGuestsCount: true,
      showChildren: false,
      minAge: 1,
      maxAge: 17,
      method: 'popup',
      showAllIfNotExists: true,
      usePaygate: true,
      defLength: 1,
      defAdults: 2,
      alwaysShowTariff: false,
      expanded: false,
      showHours: false,
      periodText: 'Выберите даты',
      allowOverbooking: false
    };
    (function () {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = 'http://pms.frontdesk24.ru/BookingWidgetFront/Scripts/widget.js';
      document.getElementsByTagName('head')[0].appendChild(script);
    })();
  </script>

</head>
<body>
<div class="main">
  <%- include modules/header.ejs %>
</div>
<div class="inner-search-widget">
  <div class="container">
    <div id="search-widget"></div>
  </div>
</div>

<section class="pic5">
  <div class="py-5 pic4">
    <div class="container">
      <div class="breadcrumbs">
        <a href="/">Главная</a> <span class="mx-2">/</span> Коттедж
      </div>
      <h1>Коттедж</h1>

      <div class="object">
        <div class="row">
          <div class="col-lg-6 mb-3">
            <div class="object-gallery">
              <div class="slick-gallery__full" data-slick-full="true">
                <% for (var i = 0; i < 10; i++) { %>
                  <figure>
                    <a href="./assets/img/img.png" data-fancybox="object"><img src="./assets/img/img.png" alt="1"></a>
                  </figure>
                <% } %>
              </div>

              <div class="slick-gallery__thumbnails" data-slick-thumb="true">
                <% for (var i = 0; i < 10; i++) { %>
                  <img src="./assets/img/img.png" alt="1">
                <% } %>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h1>Номер Стандарт</h1>
            <p><b>Площадь: 18 кв. м</b></p>
            <p>Стандартный номер на 2-х человек без возможности установки дополнительного места</p>
            <p class="txt_18px font-weight-bold mb-2">Стоимость проживания</p>
            <p class="txt_28px font-weight-bold txt-c-orange">от 3600 руб./сутки</p>
            <a href="#" class="btn mt-3 mr-2 ajax-modal" data-remote="/modal.html" data-target="#modal">Оставить заявку</a>
            <a href="#" class="btn mt-3 ajax-modal" data-remote="/modal.html" data-target="#modal">План номера</a>

            <div class="list-icons">
              <img src="./assets/vectors/cc/сс88.svg" alt="">
              <img src="./assets/vectors/cc/сс68.svg" alt="">
              <img src="./assets/vectors/cc/сс99.svg" alt="">
              <img src="./assets/vectors/cc/сс72.svg" alt="">
              <img src="./assets/vectors/cc/сс56.svg" alt="">
              <img src="./assets/vectors/cc/сс59.svg" alt="">
              <img src="./assets/vectors/cc/сс75.svg" alt="">
              <img src="./assets/vectors/cc/сс67.svg" alt="">
              <img src="./assets/vectors/cc/cc101.svg" alt="">
              <img src="./assets/vectors/cc/cc102.svg" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<%- include modules/footer.ejs %>

</body>
</html>

