<section class="wood-block py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
        <div id="map" data-lat="55,751212" data-lon="37,870010" data-zoom="14"></div>
      </div>
      <div class="col-lg-4 mb-4">
        <p class="text-white txt_40px mb-3">
          Как нас найти?
        </p>
        <p class="text-white">143130, Московская область, Рузский район, пгт.Тучково, ул Загородная, дом 1</p>
        <p class="text-white">GPS-координаты: 55.6057684 36.506258</p>
        <p class="text-white">Телефоны:</p>
        <p class="text-white mb-1">Отдел маркетинга и продаж: 8 (495) 107-91-55</p>
        <p class="text-white mb-1">Ресепшн: 8 (916) 870-20-50, 8 (495) 600-44-06</p>
        <p class="text-white mb-3">Банкетная служба: 8 (958) 594-60-28</p>
        <p class="mb-1"><a href="#" class="txt-c-orange">banket@pmberega.ru</a></p>
        <p class="mb-1"><a href="#" class="txt-c-orange">sale@pmberega.ru</a></p>
        <p class="mb-1"><a href="#" class="txt-c-orange">info@pmberega.ru </a></p>
        <a href="#" class="btn white mt-5 ajax-modal" data-remote="/modal.html" data-target="#modal">Оставить заявку</a>
      </div>
    </div>
  </div>
</section>

<div class="footer py-5 max-block">
  <div class="row align-items-center">
    <div class="col-xl-4">
      <div class="row align-items-center">
        <div class="col-xl-9 mb-3">
          <a href="/"><img class="header__logo" src="./assets/img/logo.png" alt=""></a>
        </div>
        <div class="col-lg-auto mb-3">
          <a href="#" class="mr-2 txt-c-black decoration-none">
            <i class="icon icon_ic1"></i>
          </a>
          <a href="#" class="mr-2 txt-c-black decoration-none">
            <i class="icon icon_ic2"></i>
          </a>
          <a href="#" class="mr-2 txt-c-black decoration-none">
            <i class="icon icon_ic3"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-auto mb-3">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Об отеле</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Гостиничные номера</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Коттеджи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Рестораны</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мероприятия</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Спец предложения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Развлечения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>


