<h1>О нас</h1>
<p>Незабываемый отдых в Подмосковье предлагает вам Загородный клуб «Тучково». Отель расположен в 67 км от Москвы по Минскому шоссе в старинном графском парке на берегу Москва-реки. Вы попадёте в совершенно другую реальность, где сможете отдохнуть от повседневных дел и городской суеты, максимально расслабиться душой и телом, укрепить физическое и душевное здоровье.</p>
<p>Гостиничный комплекс располагает комфортными номерами и коттеджами, в которых одновременно смогут разместиться до 150 гостей. На территории загородного клуба работают рестораны «LaMachta» и «Маяк», есть открытая веранда.</p>
<div class="max-top-text">
  <p>Гостей ждут развлечения на любой вкус и доброжелательный персонал. «Тучково» - новый загородный клуб в Подмосковье, где все подобрано для того, чтобы Вы и Ваши близкие смогли насладиться отдыхом от ежедневных забот.</p>
  <p>К вашим услугам: сплав по Москва-реке, футбольная и волейбольные площадки, прокат спортивного инвентаря, банный комплекс, детские площадки и анимационные программы для взрослых и детей, зоны для барбекю, пляж, пейнтбол.</p>
  <p>Если вы еще не стали нашим постоянным гостем и выбираете отдых в отелях Подмосковья, загляните к нам и убедитесь в том, что это идеальное место для проведения каникул, выходных и отпуска.</p>
</div>
<p class="font-weight-bold">Откройте для себя Загородный клуб «Тучково»</p>

<a href="#">Узнать цены</a>
