<section class="my-5 max-block pic-block right-part">
  <div class="row align-items-center">
    <div class="col-lg-6 text-block">
      <div class="max-text pb-5">
        <p class="txt_40px mb-3">Коттеджи</p>
        <a href="#" class="text-uppercase d-inline-block mr-2 mb-3">4-х местный коттедж категории «VIP»</a>
        <a href="#" class="text-uppercase d-inline-block mr-2 mb-3">6-ти местный коттедж категории «VIP»</a>
        <a href="#" class="text-uppercase d-inline-block mr-2 mb-3"> Коттедж Бизнес</a>
        <a href="#" class="text-uppercase d-inline-block mr-2 mb-3">Аппартаменты</a>

        <p>Незабываемый отдых в Подмосковье предлагает вам Загородный клуб «Тучково». Отель расположен в 67 км от Москвы по Минскому шоссе в старинном графском парке на берегу Москва-реки. Вы попадёте в совершенно другую реальность, где сможете отдохнуть от повседневных дел и городской суеты, максимально расслабиться душой и телом, укрепить физическое и душевное здоровье.</p>
        <p>Гостиничный комплекс располагает комфортными номерами и коттеджами, в которых одновременно смогут разместиться до 150 гостей. На территории загородного клуба работают рестораны «LaMachta» и «Маяк», есть открытая веранда.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row align-items-center">
        <div class="col-lg-2 d-none d-lg-block pr-0">
          <img class="img-fluid pb-5" src="./assets/img/plantr.jpg" alt="">
        </div>
        <div class="col-lg-10">
          <div class="pic-slider">
            <div class="pic-block">
              <img class="img-fluid" src="./assets/img/img.png" alt="">
            </div>
            <div class="pic-block">
              <img class="img-fluid" src="./assets/img/img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
