.txt-c-black {color: #000000;}
.txt-c-orange {color: $c-orange;}

.txt_10px {font-size: $txt_10px;}
.txt_12px {font-size: $txt_12px;}
.txt_13px {font-size: $txt_13px;}
.txt_14px {font-size: $txt_14px;}
.txt_16px {font-size: $txt_16px;}
.txt_18px {font-size: $txt_18px;}
.txt_20px {font-size: $txt_20px;}
.txt_22px {font-size: $txt_22px;}
.txt_26px {font-size: $txt_26px;}
.txt_28px {font-size: $txt_28px;}
.txt_32px {font-size: $txt_32px;}
.txt_40px {font-size: $txt_40px;}
