$font-family-sans-serif: "avantgard", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$path-assets: "../assets";
$path-fonts: "#{$path-assets}/fonts";


$c-black: #000000;
$c-orange: #E88F3F;


$txt_10px: 0.625rem;
$txt_12px: 0.75rem;
$txt_13px: 0.8125rem;
$txt_14px: 0.875rem;
$txt_16px: 1rem;
$txt_18px: 1.125rem;
$txt_20px: 1.25rem;
$txt_22px: 1.375rem;
$txt_26px: 1.4rem;
$txt_28px: 1.75rem;
$txt_32px: 2rem;
$txt_40px: 2.5rem;


